
.grid-container{
  margin:6vh auto;
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template-columns: minmax(50px, 1%) minmax(100px, 1%)  minmax(150px, 100%);


}
.grid-items{

  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}